html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#header {
    background: #333;
    color: white;
    margin: 0;
    padding: 15px;
}

#header a {
    text-decoration: none;
    color: white;
}

#header #title:before {
    content: attr(title);
}

#header #nav {
    list-style-type: none;
    margin: 0 0 0 30px;
    padding: 0;
    display: inline-block;
}

#header #nav li {
    display: inline-block;
    margin-left: 10px;
}

#header #nav li:first-child {
    margin-left: 0;
}

#header #nav li a {
    color: #EEE;
}

#header #nav li a:hover,
#header #nav li.active a {
    color: white;
}

#header #nav li.active a {
    text-decoration: underline;
}
